
Body {
  margin: auto;
  width: 50%;
  text-align: justify;
  background-image: url("http://sens-public.org/IMG/arton1359.jpg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width:50%;
}

h1 {
  text-align: center;
  color: purple;
}

h2 {
  text-align: center;
  color: purple;
}

h3 {
  text-align: center;
  color: purple;
}
